.vscode/**
.vscode-test/**
src/**
node_modules/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
esbuild.js
eslint.config.mjs
package-lock.json
.github/**
out/**/*.map
out/explorer.js
out/util.js
**/*.ts
